/* ============================================================================
   @CORE -> BASE -> FORMS
   ========================================================================= */


/**
 * Styling the input `placeholder` attribute.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/JijLw/#forms
 */

::-moz-placeholder {
  text-transform: uppercase;
  color: $colour-form-input-placeholder;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: $colour-form-input-placeholder;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  color: $colour-form-input-placeholder;
}