/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */


/**
 * Double stranded for greater reuse.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/JijLw/#headings
 */


/**
 * Shared.
 */

// Set colour for all
@include headings(1, 6, true) {
  color: $colour-grey-5;
}

// Set Gotham font and make uppercase for `h1-h3`
@include headings(1, 3, true) {
  text-transform: uppercase;
  @extend %c-typography-gotham;
}

// Set Gotham `font-weight` for `h1-h2`
@include headings(1, 2, true) {
  font-weight: $font-weight-gotham-light;
}


/**
 * H3.
 */

h3,
.h3 {font-weight: $font-weight-gotham-medium;}


/**
 * H4.
 */

h4,
.h4 {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: normal;
  color: $colour-grey-4;
}


/**
 * H5 and H6.
 */

@include headings(5, 6, true) {
  font-weight: bold;
}