/* ============================================================================
   @CORE -> SETTINGS -> COLOURS
   ========================================================================= */


/**
 * Currently being fed from:
 * http://styleguide.westfieldlabs.com/web/colors.
 *
 * N.B. these colours should never be overriden at the project-specific level.
 */


/**
 * Brand.
 */

// 1
$colour-brand-1:                                     #e23120;

// 2
$colour-brand-2:                                     #d52b1e;


/**
 * Black.
 */

$colour-black:                                       #000;


/**
 * White.
 */

$colour-white:                                       #fff;


/**
 * Greys.
 */

// 1
$colour-grey-1:                                      #ddd;

// 2
$colour-grey-2:                                      #ccc;

// 3
$colour-grey-3:                                      #999;

// 4
$colour-grey-4:                                      #6b6d6f;

// 5
$colour-grey-5:                                      #29292b;


/**
 * Text.
 */

// Base
$colour-text-base:                                   $colour-grey-4;


/**
 * Forms.
 */

// Input `placeholder` attribute
$colour-form-input-placeholder:                      $colour-grey-3;


/**
 * Buttons.
 */

// Main
$colour-btn-main-background-colour:                  $colour-black;

$colour-btn-main-background-colour-hover:            $colour-brand-2;

$colour-btn-main-background-colour-secondary:        $colour-grey-1;

$colour-btn-main-background-colour-secondary-hover:  $colour-grey-2;

$colour-btn-main-foreground-colour:                  $colour-white;

$colour-btn-main-foreground-colour-secondary:        $colour-grey-4;